.add-form{
    margin: 5vh;
    padding: 2vh;
    border: 2px;
    border-radius: 1%;
    border-color: lightgray;
    background-color: #e2e2e2;
    border-style: double;
    font-family: 'Basic', sans-serif;
    }
    .add-button{
    margin-top: 15px;
    